<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>	
	<%- include("./common/header.ejs") -%>
	<div id="main">
		<h1>LGBT Database Presentation Site</h1>
		<p>This site is a free to use resource that aims to help inform about LGBT problems and also offers data collected, Currently trial data taken from <a href="www.kaggle.com">www.kaggle.com</a> we plan on replacing this data in time with data collected by us directly. The data currently in the data base is to prove this works</p>
		<h3>Data Collection and Deletion</h3>
		<p>For the data we collect we do not sell or transfer it anywhere it stays within our data base and you can request it's deletion at any time with no reason needed. You just need the email you used when inputting the data.</p>
		<p>When asking for you to input data we also ask that you provide an email address with the data you provided us. It's important to know, whilst we do store your email we do not use or sell it for anything other than data validity purposes. The email you input will be attached to all your data on our site so that should you ask for you data to be deleted we will ask for this email again to help track down your records and make them easy to find and delete from the data base.</p>
	</div>
</body>
</html>
